<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagramas</title>
</head>

<body>

  <div class="table1">

    <div class="algoritmos">
      <input type="radio" id="FCFS" name="algoritmo" value="FCFS" [(ngModel)]="tipoDeAlgoritmo">
      <label for="FCFS"><i>FCFS</i></label><br>
      <input type="radio" id="SJF" name="algoritmo" value="SJF" [(ngModel)]="tipoDeAlgoritmo">
      <label for="SJF"><i>SJF</i></label><br>
      <input type="radio" id="PRIORIDAD" name="algoritmo" value="PRIORIDAD" [(ngModel)]="tipoDeAlgoritmo">
      <label for="PRIORIDAD"><i>PRIORIDAD</i></label>
    </div>


    <div class="nombreLabel">
      <label for="nombreProcess">Nombre</label>
    </div>
    <div class="nombreInput">
      <input [(ngModel)]="nombre" required id="nombreProcess" type="text" placeholder="Type the name of the process">
    </div>

    <div class="rafagasLabel">
      <label for="rafagasProcess">Rafagas</label>
    </div>
    <div class="rafagasInput">
      <input [(ngModel)]="rafagas" required id="rafagasProcess" type="number" placeholder="Type the number of Rafagas">
    </div>

    <div class="llegadaLabel">
      <label for="tiempoLlegada">Tiempo de Llegada</label>
    </div>
    <div class="llegadaInput">
      <input [(ngModel)]="tiempoDeLLegada" required id="tiempoLlegada" type="number"
        placeholder="Type the tiempo de llegada">
    </div>

    <div *ngIf="tipoDeAlgoritmo == 'PRIORIDAD'" class="prioridadLabel">
      <label for="prioridadProcess">Prioridad</label>
    </div>
    <div *ngIf="tipoDeAlgoritmo == 'PRIORIDAD'" class="prioridadInput">
      <input [(ngModel)]="prioridad" required id="prioridadProcess" type="number"
        placeholder="Type the number of Prioridad">
    </div>

    <div *ngIf="(tipoDeAlgoritmo == 'FCFS') || (tipoDeAlgoritmo == 'SJF')" class="createB">
      <button (click)="createDiagramas()" id="createButton">
        <p><i>Crear</i></p>
      </button>
    </div>

    <div *ngIf="tipoDeAlgoritmo == 'PRIORIDAD'" class="createB">
      <button (click)="createDiagramasPRIORIDAD()" id="createButton">
        <p><i>Crear</i></p>
      </button>
    </div>

  </div>

  <div class="tableBoton">

    <div *ngIf="tipoDeAlgoritmo == 'FCFS'" class="calculateB">
      <button (click)="calculateWaitingTimeAndArrivalFCFS()" id="createButton">
        <p>
          <i>Calcular</i>
        </p>
      </button>
    </div>

    <div *ngIf="tipoDeAlgoritmo == 'SJF'" class="calculateB">
      <button (click)="calculateWaitingTimeAndArrivalSJF()" id="createButton">
        <p>
          <i>Calcular</i>
        </p>
      </button>
    </div>

    <div *ngIf="tipoDeAlgoritmo == 'PRIORIDAD'" class="calculateB">
      <button (click)="calculateWaitingTimeAndArrivalPRIORIDAD()" id="createButton">
        <p>
          <i>Calcular</i>
        </p>
      </button>
    </div>

  </div>

  <div *ngIf="(tipoDeAlgoritmo == 'FCFS') || (tipoDeAlgoritmo == 'SJF')" class="table2">

    <div class="nombreT">
      <p>Nombre</p>
    </div>
    <div class="llegadaT">
      <p>Llegada</p>
    </div>
    <div class="rafagaT">
      <p>Rafaga</p>
    </div>
    <div class="entregaT">
      <p>Entrega</p>
    </div>
    <div class="respuestaT">
      <p>Respuesta</p>
    </div>
    <div class="esperaT">
      <p>Espera</p>
    </div>
    <div class="esperaPromT">
      <p>Espera Promedio</p>
    </div>
  </div>

  <div *ngIf="tipoDeAlgoritmo == 'PRIORIDAD'" class="table21">

    <div class="nombreT">
      <p>Nombre</p>
    </div>
    <div class="llegadaT">
      <p>Llegada</p>
    </div>
    <div class="rafagaT">
      <p>Rafaga</p>
    </div>
    <div class="prioridadT">
      <p>Prioridad</p>
    </div>
    <div class="entregaT">
      <p>Entrega</p>
    </div>
    <div class="respuestaT">
      <p>Respuesta</p>
    </div>
    <div class="esperaT">
      <p>Espera</p>
    </div>
    <div class="esperaPromT">
      <p>Espera Promedio</p>
    </div>
  </div>

  <div *ngIf="(tipoDeAlgoritmo == 'FCFS') || (tipoDeAlgoritmo == 'SJF')">

    <div class="tablaResultados1" *ngFor="let item of diagrama;index as i">
      <div class="uno">
        <p> {{item.nombre}} </p>
      </div>
      <div class="dos">
        <p>{{item.tiempoDeLLegada}}</p>
      </div>
      <div class="tres">
        <p>{{item.rafagas}}</p>
      </div>
      <div class="cuatro">
        <p> {{item.tiempoDeEntrega}}</p>
      </div>
      <div class="cinco">
        <p> {{item.tiempoDeRespuesta}}</p>
      </div>
      <div class="seis">
        <p>{{item.tiempoDeEspera}}</p>
      </div>
      <div class="siete">
        <p>{{tiempoPromedio}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="tipoDeAlgoritmo == 'PRIORIDAD'">

    <div class="tablaResultados2" *ngFor="let item of diagrama;index as i">
      <div class="uno">
        <p> {{item.nombre}} </p>
      </div>
      <div class="dos">
        <p>{{item.tiempoDeLLegada}}</p>
      </div>
      <div class="tres">
        <p>{{item.rafagas}}</p>
      </div>
      <div class="ocho">
        <p> {{item.prioridad}}</p>
      </div>
      <div class="cuatro">
        <p> {{item.tiempoDeEntrega}}</p>
      </div>
      <div class="cinco">
        <p> {{item.tiempoDeRespuesta}}</p>
      </div>
      <div class="seis">
        <p>{{item.tiempoDeEspera}}</p>
      </div>
      <div class="siete">
        <p>{{tiempoPromedio}}</p>
      </div>
    </div>
  </div>

  <div class="table3">
    <div class="nombreDeleteLabel">
      <label for="nombreDelete">Nombre</label>
    </div>
    <div class="nombreDeleteInput">
      <input [(ngModel)]="nombre" required id="nombreDelete" type="text">
    </div>
    <div class="nombreDeleteButton">
      <button (click)="deleteDiagramasByName()">
        <p><i>Eliminar</i></p>
      </button>
    </div>
    <div class="nombreDeleteButtonAll">
      <button (click)="deleteDiagramas()">
        <p><i>Eliminar Todo</i></p>
      </button>
    </div>
  </div>

  <!--<div class="table4">
    <div *ngFor="let item of rafagasTotales;index as i">
      <div>
       hola {{item}} Y {{i}}
      </div>
    </div>
  </div>-->

  <footer>
    <div class="created">
      <h4>
        <i>Created By</i>
      </h4>
    </div>
    <div class="insta">
      <p>
        <a href="https://www.instagram.com/heisjuanda/" target="_blank">
          <i>@heisjuanda</i>
        </a>
      </p>
    </div>
    <div class="github">
      <p>
        <a href="https://github.com/jdma253" target="_blank">
          <i>jdma253</i>
        </a>
      </p>
    </div>
  </footer>

</body>

</html>
